Structs/Rec/Rec7/out.exe
Structs/Hw/HW5/rpn.exe
Structs/Hw/HW5/pc.exe
Structs/Hw/HW6/mov.exe
Structs/Hw/HW7/Documentaries.csv
Structs/Hw/HW7/Movies.csv
Structs/Rec/Rec10/a.exe
Structs/Rec/Rec10/Graph.hpp.gch
Structs/Final Project/test.exe
Structs/Final Project/a.png
Structs/Final Project/ai1.png
Structs/Final Project/ai2.png
Structs/Final Project/al1.png
Structs/Final Project/al2.png
Structs/Final Project/ar1.png
Structs/Final Project/ar2.png
Structs/Final Project/b.png
Structs/Final Project/bi1.png
Structs/Final Project/bi2.png
Structs/Final Project/bl1.png
Structs/Final Project/bl2.png
Structs/Final Project/br1.png
Structs/Final Project/br2.png
Structs/Final Project/ca.png
Structs/Final Project/cb.png
Structs/Final Project/graphs.asv
