Structs/Rec/Rec7/out.exe
Structs/Hw/HW5/rpn.exe
Structs/Hw/HW5/pc.exe
Structs/Hw/HW6/mov.exe
Structs/Hw/HW7/Documentaries.csv
Structs/Hw/HW7/Movies.csv
Structs/Rec/Rec10/a.exe
Structs/Rec/Rec10/Graph.hpp.gch
Structs/Final Project/test.exe
